body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 90vh;
    margin: 0;
    background-color: #eed7c5;
}

.square {
    width: 100px;
    height: 100px;
    margin: 8px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    background-color: #dad2bc;
    border: 2px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
}
.square:hover {
    background-color: #ffd7ba;
}

.board-row{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a47148;
    border-radius: 10px;

    padding: 2px;
}
.status{
    font-size: 40px;
    font-weight: bold;
    margin:10px;
}
.history{
    background-color: #F0EAD6;
    color: black;
    font-size: 18px;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

li{
    font-size: 20px;
    font-weight: bold;
}
